[submodule "pytorch-fortran"]
	path = pytorch-fortran
	url = https://github.com/alexeedm/pytorch-fortran.git
[submodule "FTorch"]
	path = FTorch
	url = https://github.com/Cambridge-ICCS/FTorch.git
	branch = C-layout
